* {outline: none;}

body{
	font-family:Arial;
	font-size:62.5%;
}

a{
	text-decoration:none;
	color:#000
}

a:visited{
	color:#000
}

.clear{
	clear:both;
}

input.placeholder{
  color: #cccccc;
}

*:disabled{opacity:0.5; filter: alpha(opacity=50);}


#cargando{
border-radius:4px;
font-family: arial, serif;
font-size:15px;
color: #FFFFFF;
cursor:wait;
position:fixed;
bottom:20px;
right:50px;
display:none;
padding:20px;
border:1px solid #171717;
background: #0d0e0e;
z-index:999;
filter: alpha(opacity=75);
 opacity: .75}
 
.carg3{
background:url(images/carg3.gif) no-repeat center left;
padding-left:45px;
}


